/* .font{
    color: red;
  } */
  #map {
    height: 100%;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* 웹 화면 css */
  
  /* 웹 상단(좌) */
  #nav {
    width: 80%;
    height: 70%;
    float: left;
  }
  
  /* 웹 상단(우) */
  #section {
    background-color: #FFFFFF;
    color: black;
    width: 20%;
    height: 100%;
    float: right;
  }
  
  /* 웹 하단 */
  #footer {
      background-color: #E8E8E8;
      width: 80%;
      height: 30%;
      float: left;
      position: relative;
  }
  
  
  /* 웹 상단(우) 설정 */
  #text {
    border-style: solid; 
    border-width: 0 0 0 8px; 
    border-color: LightSalmon;
    word-break: break-all;
    margin: 10%;
    font-size: 25px;
    text-align: center;
  }
  
  /* select 박스, 자치구 선택 박스 */
  /* select_box::-ms-expand{
    display: none;
  } */
  
  .select_box {
    /* -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
     width: 80%;
    height: 4%;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    outline: 0 none; 
    text-align: center;
    float: right;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;  
    font-size: 90%;
  }
  
  .select_box option {
    background: #FFFFFF;
    color: #000;
    padding: 3px 0;
    font-size: 15px;
  }
  
  
  /* button 설정  */
  .btn {
      margin: 10%;
  }
  
  .btn1 {
    width: 38%;
    margin-left: 10%;
    margin-bottom: 5%;
    float: left;
  }
  
  .btn2 {
    width: 38%;
    margin-right: 10%;
    margin-bottom: 5%;
    float: right;
  }
  
  
  .btn3 {
    width: 38%;
    margin-left: 10%;
    float: left;
  }
  
  .btn4 {
    width: 38%;
    margin-right: 10%;
    float: right;
  }
  
  /* 범죄율, 위험도 */
  .chart {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: 0.3s;
    margin-top: 65%;
    margin-left: 20%;
  }
  
  .chart1 {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: 0.3s;
    margin-top: 20%;
    margin-left: 20%;
  }
  
  span.center {
    background: #fff;
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    transform: translate(-50%, -50%); 
  }
  
  .blue {
    background: #5abae6;
  }
  .red {
    background: #434e4e;
  }
  .green {
    background: #9dbb19;
  }
  .yellow {
    background: #f7b358;
  }
  
  span.blue {
    position: absolute;
    font-size: 20px;
    line-height: 1.8em;
    color: #FFF;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    width: 60px;
    height: 100%;
    bottom: 0;
    left: 0px;
  }
  span.red {
    position: absolute;
    font-size: 20px;
    line-height: 1.8em;
    color: #FFF;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    width: 60px;
    height: 80%;
    bottom: 0;
    left: 70px;
  }
  span.green {
    position: absolute;
    font-size: 20px;
    line-height: 1.8em;
    color: #FFF;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    width: 60px;
    height: 60%;
    bottom: 0;
    left: 140px;
  }
  span.yellow {
    position: absolute;
    font-size: 20px;
    line-height: 1.8em;
    color: #FFF;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    width: 60px;
    height: 20%;
    bottom: 0;
    left: 210px;
  }
  
  
  
  /* ------------------------------- */
  .zt-skill-bar {
    color: #fff;
    font-size: 11px;
    line-height: 30px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 30px;
  
    background-color: rgba(0,0,0,0.1);
  
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
            border-radius: 2px;
  
  }
  
  .zt-skill-bar * {
    webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
       -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
           transition: all 0.5s ease;
  }
  
  .zt-skill-bar div {
    background-color: #ffc600;
    position: relative;
    padding-left: 30px;
    width: 0;
  
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
       -ms- border-radius: 2px;
            border-radius: 2px;
  }
  
  .zt-skill-bar span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5px 0 10px;
    background-color: #1a1a1a;
  
    -webkit-border-radius: 0 2px 2px 0;
       -moz-border-radius: 0 2px 2px 0;
        -ms-border-radius: 0 2px 2px 0;
            border-radius: 0 2px 2px 0;
  }
  
  .zt-skill-bar span:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    left: -3px;
    margin-top: -3px;
    background-color: #1a1a1a;
  
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }